@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,700&display=swap');


body {
    font-family: "Montserrat", sans-serif;
}

header {
    background: #FFFFFF;
}

h1 {
    color: #054C73;
}

.section-1 {
    background: #DFE9F4;
}

.header2 {
    color: #054C73;
}

.buy-now {
    background: #054C73;
}

.section-2 {
    background: #F2F5FF;
}

.img-1 {
    border-top-left-radius: 20%;

}

.section-4 {
    background: #F2F5FF;
}

.button {
    background: #054C73;
}

input {
    border: 1px solid #054C73;
}

.section-5 {
    background-color: #03344F;
}

@media screen and (min-width: 640px){

    
.paragraph1 {
    font-size: 7px;
}

.buy-now {
    font-size: 7px;
}

.section-1 {
    left: 310px;
    top: 152px;
}

.section-2-1 {
    font-size: 7px;
}

.section-3 {
    background: #F2F5FF;
}

.section-3-1 {
    background: #054C73;
}

.group {
    top: 370px;
    left: 145px;
}

}



@media screen and (min-width: 768px) {
    .section-1 {
        left: 380px;
        top: 172px;
        height: 230px;
    }
}

@media screen and (min-width: 1024px) {
    .section-1 {
        left: 513px;
        top: 200px;
        height: 300px;
        width: 450px;
    }


    .paragraph1 {
        font-size: 13px;
        width: 400px;
        line-height: 30px;
    }


    .buy-now {
        font-size: 12px;
    }


    .section-6, .section-7 {
        width: 850px;
    }

    .paragraph-2 {
        font-size: 15px;
        line-height: 35px;
        width: 370px;
    }

    .section-8 {
        width: 850px;
    }

    .group {
        top: 235px;
        left: 90px;
    }


    .paragraph-3 {
        font-size: 10px;
        width: 250px;
    }

    .paragraph-4 {
        width: 250px;
        font-size: 10px;
    }

    .div-1 {
        margin-right: 500px;
    }
}


@media screen and (min-width: 1280px) {
    .section-1 {
        left: 643px;
        top: 220px;
        height: 385px;
        width: 530px;
    }

    .header2 {
        line-height: 60px;
        width: 400px;
    }

    .paragraph1 {
        font-size: 15px;
        width: 450px;
    }

    .section-2-1 {
        font-size: 15px;
    }

    .ellipse {
        left: 275px;
    }

    .section-6 {
        width: 90%;
    }


    .section-7 {
        width: 80%;
    }

    .section-8 {
        width: 80%;
    }

    .group {
        top: 295px;
        left: 130px;
    }
}


@media screen and (min-width: 1536px) {
    .bg-img {
        width: 100;
    }

    .section-1 {
        left: 715px;
        top: 230px;
        height: 445px;
        width: 630px;
    }

    .header2 {
        width: 470px;
        line-height: 80px;
    }

    .paragraph1 {
        font-size: 18px;
        width: 550px;
        line-height: 40px;
    }

    .section-6 {
        width: 80%;
    }

    .paragraph-2 {
        font-size: 20px;
        width: 500px;

    }

    .section-3-1 {
        margin-right: 340px;
        font-size: 15px;
        padding: 30px 25px;
        width: 45%;
        margin-top: 50px;
    }


    .section-7 {
        width: 80%;
    }


    .section-8 {
        width: 80%;
    }

    .group {
        top: 365px;
        left: 150px;
    }


    .paragraph-3 {
        font-size: 15px;
        width: 350px;
    }


    .paragraph-5 {
        font-size: 20px;
        width: 40%;
        line-height: 40px;
    }


    .paragraph-4 {
        font-size: 15px;
        width: 390px;
    }

}


/* @media screen and (min-width: 375px) {

    .div-1 {
        width: 50%;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 200px;
        margin: 0 10px;
    }

    .section-1 {
        border: 1px solid #DFE9F4;
        border-radius: 10px;
        text-align: center;
        position: relative;
        padding: 20px;
    }

    .header2 {
        font-weight: bold;
        font-size: 20px;
    }

    .buy-now {
        width: 50%;
        margin: 10px 80px;
        border-radius: 20px;
        color: white;
        padding: 2px 5px;
    }


    .mobile-1 {
        padding: 20px;
        display: flex;
        gap: 5px;
    }

    .mobile-1-1 {
        font-weight: 700;
        font-size: 20px;
    }


    .section-2-1 {
        font-size: 12px;
    }


    .mobile-2 {
        text-align: center;
        margin-top: 30px;
    }

    .mobile-2-1 {
        font-size: 11px;
    }

    .section-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }

    .img-1, .img-2 {
        margin-top: 30px;
        width:80%;
        
    }

    .section-3 {
        background-color: #F2F5FF;
        padding: 25px;
    }


    .mobile-3 {
        text-align: center;
        margin-top: 50px;
    }


    .mobile-p {
        font-size: 20px;
    }


    .paragraph-2 {
        font-size: 10px;
    }

    .section-3-1 {
        background-color: #054C73;
        width: 50%;
        color: white;
        margin-left: 80px;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    } 

    .img-3 {
        width: 70%;
        margin-left: 50px;
    }

    .ellipse {
        width: 40%;
        top: 110px;
        left: 180px;
    }

    .mobile-4 {
        text-align: center;
        margin-top: 30px;
    }

    .mobile-h3 {
        font-size: 20px;
    }

    .mobile-p-2 {
        font-size: 12px;
    }


    .section-7 {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 70%;
        margin-left: 50px;
    }

    .mobile-div {
        text-align: center;
    }

    .div-h3 {
        font-size: 20px;
    }

    .div-p {
        font-size: 12px;
    }

    .section-8 {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 80%;
    }

    .group {
        top: 290px;
        left: 120px;
    }

    .paragraph-3 {
        font-size: 12px;
    }

    .paragraph-5 {
        width: 100%;
        font-size: 10px;
    }

    .mobile-5 {
        width: 90%;
        font-size: 18px;
    }

    .mobile-input {
        margin-right: 12px;
    }

    input {
        width: 250%;
    }

    .button {
        padding-top: 30px;
        margin-left: 150px;

    }

    .beauty {
        font-size: 20px;
    }

    .section-5 {
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .div-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 90px;
    }

}
 */
